- content_for :page_title do
  %title= 'Brian Rosedale | Work'
- content_for :keywords do
  %meta{name: 'keywords', content: 'Brian Rosedale, Developer, Programmer, Full-Stack Developer, Web Developer, Software Engineer'}
- content_for :description do
  %meta{name: 'description', content: "Hi! I'm Brian. I'm a Full-Stack Developer / Programming Generalist. Click to learn more about my work."}

.row
  .col-xs-12.col-md-8
    .page-header
      %h2 Skills
    .work-section
      %h4 Programming
      %ul.work-list
        %li
          %span.label.label-primary
            Ruby
        %li
          %span.label.label-primary
            Java
        %li
          %span.label.label-primary
            C#
    .work-section
      %h4 Extreme Programming
      %ul.work-list
        %li
          %span.label.label-primary
            Test Driven Development
        %li
          %span.label.label-primary
            Pair Programming
        %li
          %span.label.label-primary
            Continuous Integration
      .work-section
        %h4 Database
        %ul.work-list
          %li
            %span.label.label-primary
              SQL
          %li
            %span.label.label-primary
              Design
          %li
            %span.label.label-primary
              Programming
          %li
            %span.label.label-primary
              MySQL
          %li
            %span.label.label-primary
              PostgreSQL
      .work-section
        %h4 Front End
        %ul.work-list
          %li
            %span.label.label-primary
              HTML
          %li
            %span.label.label-primary
              CSS
          %li
            %span.label.label-primary
              Javascript
          %li
            %span.label.label-primary
              jQuery
          %li
            %span.label.label-primary
              Bootstrap
          %li
            %span.label.label-primary
              Sass
          %li
            %span.label.label-primary
              Coffee Script
      .work-section
        %h4 Testing
        %ul.work-list
          %li
            %span.label.label-primary
              Rspec
          %li
            %span.label.label-primary
              MiniTest
          %li
            %span.label.label-primary
              JUnit
      .work-section
        %h4 Other
        %ul.work-list
          %li
            %span.label.label-primary
              Ruby on Rails
          %li
            %span.label.label-primary
              Agile/Scrum
          %li
            %span.label.label-primary
              Shell Scripting
          %li
            %span.label.label-primary
              Linux
          %li
            %span.label.label-primary
              Git/Github
          %li
            %span.label.label-primary
              Amazon Web Services
    .work-spacer
    .page-header
      %h2 Experience
    .work-section
      %h4 Ruby on Rails Developer
      %h5 SolutionsIQ
      %h6 August 2013 - Present
      %p I am currently a full-stack Java and Ruby on Rails developer. I am on a scrum team so I am accustom to the various scrum ceremonies. I follow extreme programming practices, such as Test Driven Development, Pair Programming, and Continuous Integration.  The environment is highly collaborative and fast paced, thus requiring me to adapt quickly to change and be a good team player.
    .work-section
      %h4 Co-Founder / Chief Developer
      %h5 PainterJobHub.com
      %h6 December 2012 - Present
      %p I am the developer of PainterJobHub.com. The website originally started out very small. As the website grew and users began submitting feedback, I had to evaluate and integrate new features into the website to meet users growing needs.  I built the website with Ruby on Rails, as well as many other Ruby libraries and services.
      %p A more detailed list of what I used to build PainterJobHub includes the following: Ruby on Rails 4, Twitter Bootstrap, Sass/CSS, HAML, jQuery/Javascript, MySQL, WebSolr, Sidekiq, Rspec, HTML, RailsAdmin, Heroku, Github, Sendgrid, Amazon S3/CloudFront, and BrainTree Payments
    .work-section
      %h4 Applications Developer
      %h5 JPMorgan Chase
      %h6 April 2012 - August 2013
      %p Some of my job duties included the following: Query analysis, system design, technical specifications documentation, writing queries and stored procedures, database maintenance, unit test plans and testing, and implementation plans. I utilized effective communication skills, writing skills, work dynamically in teams, and I am flexible when projects require extended hours.
    .work-section
      %h4 Aviation Electrician
      %h5 US Navy
      %h6 June 2004 - July 2009
      %p Problem solving, regulating, and maintaining electrical components and units on aviation equipment, interpreting diagrams and instructions to complete troubleshooting, collaborating with team in high stress environments, involved with advanced leadership development through supervision.
    .work-spacer
    .page-header
      %h2 Education
    %h4 B.S. Information Systems
    %h5 DePaul University
    %h6 2009 - 2012
    %p I graduated magna cum laude with a B.S. in Information Systems. My degree concentration was in web development.
  .col-xs-12.col-md-4
    .work-spacer.hidden-md.hidden-lg
    %h5 Want to check out my code?
    %ul.work-list-extra
      %li= link_to 'https://github.com/redbush', 'https://github.com/redbush', target: '_blank'
      %li= link_to 'http://painterjobhub.com', 'http://painterjobhub.com', target: '_blank'
    %h5 My Resume
    %ul.work-list-extra
      %li= link_to 'View resume', 'https://docs.google.com/document/d/1VmeGiqWIDsnE-2SEavHE6lyK3SXMZEu09w5r_aDXsNo/edit?usp=sharing', target: '_blank'
    %h5 Get in Touch
    %ul.work-list-extra
      %li= mail_to 'brian.j.rosedale@gmail.com', 'brian.j.rosedale@gmail.com'
      %li= link_to 'https://linkedin.com/in/brianrosedale', 'https://linkedin.com/in/brianrosedale', target: '_blank'