- content_for :page_title do
  %title= "Brian Rosedale | #{@post.title}"
- content_for :keywords do
  %meta{name: 'keywords', content: @post.keywords}
- content_for :description do
  %meta{name: 'description', content: @post.description}


.row
  .col-xs-12.col-md-8
    = link_to 'Back', posts_redirect_path
    %h3= @post.title
    %h5
      Date:
      = format_datetime(@post.created_at)
    %p= raw @post.content
  .col-xs-12.col-md-4


